.aboutContainer {
  font-family: "Montserrat";
  padding: 20px;
  margin: auto;
  width: 70vw;
  p {
    font-size: 18px;
    padding: 10px;
  }

  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    width: 100%;
    align-items: center;

    &:hover{
      color: lightgreen;
    }
  }

  h3 {
    font-size: 35px;
    padding: 10px;
    font-weight: bold;
  }
}

.link {
  padding: 5px;
//   border: 1px solid black;
//   border-radius: 10px;
  text-align: center;
}

.button {
  background-color: rgba(6,136,47,255);
  color: white;
  margin: auto;


  &:hover{
    // background-color: lightgreen;
    opacity: 0.7;
  }
}
