.bannerContainer {
  width: 100%;
  text-align: center;
  background-image: url('../../public/Sabina-1024x575.webp');
  // background-color: grey;
  background-size: cover;
  background-position: center;
  // background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 9.375em 0; //150px
  height: 25em; //400px;
  margin-bottom: 1.875em; //30px;

  h1{
    // padding: 0.1em; //10px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 5em; //80px;
    font-weight: bold;
    font-family: "Montserrat";
  }

  h3{
    padding: 1.6em; //10px;
    font-size: 2.5em; //40px;
    color: white;
  }
}
