.casasContainer {
  font-family: "Montserrat";
  padding: 20px;
  margin: auto;
  width: 80vw;

  h2 {
    font-size: 50px;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(6,136,47,255);
  }

  p {
    font-size: 20px;
    padding: 10px;
  }
}
