$breakpoint-xsmall: 550px;

@media (max-width: $breakpoint-xsmall) {
  #mobile{
    display: none;
  }

  .links ul li{
    padding: 0;
  }
}

@media (min-width: $breakpoint-xsmall) {
  #mobile{
    display: content;
  }

  .links ul li{
    padding: 0.625em;
  }
}

.navContainer{
  width: 100%;
  height: 5em;  //80px;
  padding: 0.5em; //8px;
  align-items: center;
  background-color: rgb(224,241,255);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  z-index: 10;

  .image {
    height: 5em; //80px;
    width: 5.62em; //90px;
    display: flex; ;
    align-items: center;
    margin-left: 1.875; //30px;
  }
}

.links{
  padding: 0.3125em; //5px;
  text-align: center;
  display: flex;
  margin-right: 1.875em; //30px;
  ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    margin: 0;
    li{
      display: inline;
      padding: 0.625em; //10px;

      a{
        text-decoration: none;
        color: black;
        font-weight: bold;

        &:hover{
          color: lightgreen;
        }
      }
    }
  }
}

.scroll{
  display: none;
}

#hide{
  display: none;
}
