$breakpoint-small: 900px;

@media (max-width: $breakpoint-small) {
  .photo{
    display: contents !important;
  }

  .pics{
    display: none;
  }
}

@media (max-width: $breakpoint-small) {
  #smaller{
    font-size: 1.6em;
  }
}

.silbadoresContainer {
  font-family: "Montserrat";
  padding: 1.25em; //20px;
  margin: auto;
  width: 80%;

  h2 {
    font-size: 3.125em; //50px;
    color: white;
    padding: 0.5em; //10px;
    font-weight: bold;
    background-color: rgb(6,136,47,255);
  }

  p {
    font-size: 1.25em;; //20px;
    padding: 0.625em; //10px;
  }
}

// .grid-container {
//   display: grid;
//   max-width: 1200px;
//   margin: 0 auto;
//   grid-gap: 1rem 1rem;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
// }

.img:hover {
  cursor: pointer;
}

.photo{
  display: none;
}
