.testimoniosContainer{
  width: 100%;
  margin: auto;
  height: 18.75em; //300px;
  // background-image: url("/root/code/JorritvdP/silboherreno/public/cropped-earth-1-1.png");
  background-size: cover;
  // background-color: grey;
}
